[Unit]clear
Description=Bond-cam startup service

[Service]
User=nifty
ExecStart=/bin/bash -c 'git -C /home/nifty/Projects/bondcam_streaming pull https://bond-cam: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@github.com/nifty-apps/bond-cam-sbc.git'
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
IgnoreSIGPIPE=true
Restart=no
Type=simple

[Install]
WantedBy=multi-user.target