[Unit]
Description=Bond-cam streaming service

[Service]
User=root
ExecStart=/bin/bash -c 'python3 /home/nifty/Projects/bondcam_streaming/bondcam_streaming.py >> /home/nifty/Projects/bondcam_streaming/bondcam_streaming.log 2>&1'
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
IgnoreSIGPIPE=true
Restart=always
RestartSec=3
Type=simple

[Install]
WantedBy=multi-user.target
