[Unit]
Description=Bondcam Streaming Service
After=network-online.target
Wants=network-online.target
StartLimitIntervalSec=60
StartLimitBurst=5

[Service]
Type=simple
User=nifty
Group=nifty
WorkingDirectory=/home/nifty/projects/bondcam-sbc
ExecStartPre=/usr/bin/test -d /home/nifty/projects/bondcam-sbc
ExecStart=/usr/bin/python3 -m bondcam.main
Restart=always
RestartSec=3
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target